@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #2c2e43;
}
.container {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  margin-top: -17px;
  background-color: #f39189;
}
.layout {
  margin: auto;
}
.nav-list-item {
  padding: 20px;
}
.nav-link-text {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Bebas Neue", cursive;
  color: #046582;
}

.nav-link-text:visited {
  color: #046582;
  border-bottom: brown 3px solid;
}

.nav-link-text:active {
  border-bottom: brown 3px solid;
  color: black;
}
.nav-link-text:hover {
  color: black;
  border-bottom: 3px solid brown;
}

.heading {
  margin-right: auto;
  padding: 20px;
  color: #046582;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  font-weight: bold;
}

.imageHome {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
}
.home {
  background-color: #e8f0f2;
}

.home-item {
  flex: 1;
  box-sizing: border-box;
  padding: 40px;
  flex-basis: 30%;
}

.work {
  color: #2c2e43;
}
.link:visited {
  color: #bb8082;
}
.link {
  border: 3px solid #595260;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  background-color: #e8f0f2;
  padding: 10px;
  color: #bb8082;
  text-decoration: none;
}

.link:hover {
  background-color: #bb8082;
  color: #e8f0f2;
}

.work > div > .link {
  border: 3px solid #053742;
  background-color: #f39189;
  color: white;
}

.work > div > .link:hover {
  background-color: #053742;
  color: #f39189;
}
p {
  font-weight: bold;
  font-size: large;
}

.about {
  background-color: #046582;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about h1 {
  color: #f39189;
}

.posts {
  background-color: #e8f0f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.posts > h1 {
  color: #046582;
  padding-left: 40px;
}

.posts > ul > li {
  list-style: none;
  color: #046582;
  text-decoration: none;
  padding: 10px;
}

.list-item {
  color: #046582;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
}
.list-item:hover {
  color: brown;
  border-bottom: 2px solid brown;
}



.contact {
  color: #f39189;
  background-color: #046582;
  font-family: Georgia, "Times New Roman", Times, serif;
  display:flex;
  flex-direction: column;
}

.title {
  color: #f39189;
  padding: 10px 20px;
  flex:1
}

.section {
  flex: 1;
  box-sizing: border-box;
  padding: 20px 40px;
  flex-basis: 30%;
  margin: auto;
}

.child{
  background-color: #046582;
}
.section h3 {
  color: #f39189;
}

.section > .link {
  color: #f39189;
  background-color: #046582;
  border: 3px solid #f39189;
}
.section .link:hover {
  color: #046582;
  background-color: #f39189;
  border: 3px solid #f39189;
}

.article {
  background-color: #e8f0f2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.article div {
  padding: 30px;
}

.picture {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  flex-basis: 30%;
}

.about h1 {
  padding: 20px;
}
.image {
  width: 100%;
}
.picture h5 {
  color: #f39189;
}

.icons {
  flex: 1;
  border-left: brown 2px solid;
  padding: 20px;
  margin: 15px;
}
.infoSection {
  text-align: center;
}

footer{
  text-align: center;
  padding:20px;
  font-weight:bold
}

@media (min-width: 600px) {
  .home {
    display: flex;
    justify-content: space-between;
  }
  .work {
    display: flex;
    justify-content: space-between;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact-details {
    display: flex;
    justify-content: space-between;
  }
  .container {
    display: flex;
    justify-content: flex-end;
  }
  .contact-details {
    display: flex;
    justify-content: space-between;
  }
  .gallery {
    display: flex;
    justify-content: space-between;
  }
  .info {
    display: flex;
    justify-content: space-between;
  }
}

