@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@400;500&display=swap");
.container {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

body {
  margin: 0;
  padding: 0;
  margin-top: -17px;
  background-color: #b2cef7;
}
.layout {
  background-color: #b2cef7;
  margin: auto;
}
.nav-list-item {
  padding: 20px;
}
.nav-link-text {
  text-decoration: none;
  font-weight: bold;
  font-family: "Bree Serif", serif;
  color: black;
}

.nav-link-text:visited {
  color: black;
  border-bottom: brown 3px solid;
}

.nav-link-text:active {
  border-bottom: brown 3px solid;
  color: black;
}
.nav-link-text:hover {
  color: black;
  border-bottom: 3px solid brown;
}

/* .nav-list-item:hover {
  background-color: #6c9de3;
} */

.heading {
  margin-right: auto;
  padding: 20px;
  color: brown;
  font-family: "Bebas Neue", cursive;
  font-size: large;
  font-weight: bold;
}

.home {
  display: flex;
  justify-content: space-around;
  background-color: #e8f0f2;
  padding: 20px;
  font-family: "Georama", sans-serif;
  font-weight: bold;
  font-size: large;
  color: #595260;
}

.home > img {
  border-radius: 5px;
}
.home > div {
  align-self: center;
}
.home > img {
  width: 450px;
  height: 300px;
}
.link:visited {
  color: #595260;
}
.link {
  border: 3px solid #595260;
  border-radius: 5px;
  font-family: "Georama", sans-serif;
  font-size: large;
  font-weight: bold;
  background-color: #e8f0f2;
  padding: 10px;
  color: #595260;
  text-decoration: none;
}

.link:hover {
  background-color: #595260;
  color:#e8f0f2;
}
.work {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.work > img {
  width: 450px;
  height: 300px;
  border-radius: 5px;
}
.work > div {
  text-align: center;
  flex: 1;
}

.work > div > .link {
  border:3px solid #053742;
  background-color: #b2cef7;
  color: #053742;
}

.work > div > .link:hover {
  background-color: #053742;
  color:#b2cef7;
  
}
p {
  font-family: "Georama", sans-serif;
  font-weight: bold;
  font-size: large;
  color: #595260;
}
